@* @model Course[] *@
@model List<Course> //array yerine list yazıldı.list dinamik büyüyebiliyor, array sabit boyutlu.
<h1>Course/List</h1>

<h1 class="h3 mb-3">Tüm Kurslar</h1>
<div class="row">

    @foreach (Course course in Model)
    {
        <div class="col-md-3">
            @await Html.PartialAsync("_CourseCard", course)
        </div>
    }

</div>