@model Product
<h1>Products/Details</h1>

<div class="row">
    <div class="col-4">
        <img src="~/img/@Model.urunResim" alt="" class="img-fluid" />
    </div>
    <div class="col-8">
        <h1>@Model.urunBaslik</h1>
        <p>
            @Model.urunAciklama
            <p>
                @Model.urunFiyat
            </p>
            @* @if (true)
            {
                <p>
                    @Model.urunSatistami
                </p>
            } *@

            @if(Model.urunSatistami)
                {
                    @if(Model.StokAdeti>0)
                    {
                        <p>SATIŞTA</p>
                    }
                    else
                    {
                        <p>Maalesef,stok yetersiz. Daha sonra tekrar deneyiniz!</p>
                    }
                }
            else
            {
                <p>SATIŞTA DEĞİL</p>
            }
        </div>
    </div>